.resident-card {
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.1px);
  -webkit-backdrop-filter: blur(16.1px);
  position: relative;
  z-index: -100;
  padding: 1rem 0.5rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  -ms-grid-rows: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}
.resident-card > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.resident-card > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.resident-card > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.resident-card > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.resident-card > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.resident-card > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.resident-card > *:nth-child(7) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.resident-card > *:nth-child(8) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.resident-name {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column-align: space-around;
  justify-self: space-around;
  font-size: 1.25rem;
}

.resident-gender {
  -ms-grid-column-align: center;
  justify-self: center;
  color: #fbeb04;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

.resident-height {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

.resident-mass {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

.resident-mass,
.resident-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
}
